extends layouts/layout

block content
    .scroll-container
        include includes/menu
        div.row
            div.medium-col-12#estilos
                h1 Estilos
        include includes/colores
        include includes/tipografias
        include includes/iconos
        div.row
            div.medium-col-12#componentes
                h1 Componentes
        include includes/botones

