extends layouts/layout

block content
    .scroll-container
        include includes/menu
        div.row.header
            span.header-title Guía de estilos - Inicio
        div.row
            div.medium-col-12#estilos
                h1 Estilos
        div.row
            div.medium-col-12#colores
                h2 Colores
            div.medium-col-12
                div.color-box

        div.row
            div.medium-col-12#tipografias
                h2 Tipografías
                p La fuente utilizada es Roboto importada directamente de fonts.googleapis.com con los siguientes posibles estilos:
        div.row
            div.medium-col-4
                h3.light-text Roboto Light (.light-text)
                small <i>Weight 300, letter-spacing 0.05em</i>
                h3 Roboto Regular
                small <i>Weight 400</i>
                h3.medium-text Roboto Medium (.medium-text)
                small <i>Weight 500</i>
                h3.bold-text Roboto Bold (.bold-text)
                small <i>Weight 700</i>
            div.medium-col-4
                h1.text-right h1.Titulo principal
                h2.text-right h2.Titulo secundario
                h3.text-right h3.Tercer nivel
                h4.text-right h4.Cuarto nivel
                h5.text-right h5.Quinto nivel
                h6.text-right h6.Sexto nivel
            div.medium-col-4
                h1 34px
                h2 24px
                h3 20px
                h4 18px
                h5 16px
                h6 14px
        div.row
            div.medium-col-6.clear
                p
                    |<u/>Párrafo normal</u>: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            div.medium-col-6
                p.light-text
                    |<u/>Párrafo light</u>: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            div.medium-col-6
                p.medium-text
                    |<u/>Párrafo medio</u>: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            div.medium-col-6
                p.bold-text
                    |<u/>Párrafo bold</u>: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        div.row
            div.medium-col-12#icons
                h2 Iconos
