extends layouts/layout

block content
    .scroll-container
        include includes/menu
        div.row.header
            span.header-title Guía de estilos - Inicio
        div.row
            div.small-col-12
                h1 Colores
        div.row
            div.small-col-12
                h1 Tipografías
                h1 h1.Titulo principal
                h2 h2.Titulo secundario
                h3 h3.Tercer nivel
                h4 h4.Cuarto nivel
                h5 h5.Quinto nivel
                h6 h6.Sexto nivel
