div.row
    div.medium-col-12#iconos
        h2 Iconos
        p La fuente utilizada es Material Icons importada directamente de fonts.googleapis.com. A continuación se detallan algunos de los iconos más utilizados (para un listado completo acceder <a class="link" href="https://design.google.com/icons/">aquí</a>).

    div.medium-col-12
        h3 Alertas
        div.icon-box
            i.material-icons add_alert
            span add_alert
        div.icon-box
            i.material-icons error
            span error
        div.icon-box
            i.material-icons error_outline
            span error_outline
        div.icon-box
            i.material-icons warning
            span warning
        h3 Acción
        div.icon-box
            i.material-icons account_circle
            span account_circle
        div.icon-box
            i.material-icons alarm
            span alarm
        div.icon-box
            i.material-icons cached
            span cached
        div.icon-box
            i.material-icons delete
            span delete
        div.icon-box
            i.material-icons print
            span print
        div.icon-box
            i.material-icons search
            span search
        div.icon-box
            i.material-icons shopping_cart
            span shopping_cart
        h3 Video
        div.icon-box
            i.material-icons play_arrow
            span play_arrow
        div.icon-box
            i.material-icons pause
            span pause
        div.icon-box
            i.material-icons fast_forward
            span fast_forward
        div.icon-box
            i.material-icons fast_rewind
            span fast_rewind
        div.icon-box
            i.material-icons movie
            span movie
        div.icon-box
            i.material-icons videocam
            span videocam
        div.icon-box
            i.material-icons mic
            span mic
        h3 Imagen
        div.icon-box
            i.material-icons add_a_photo
            span add_a_photo
        div.icon-box
            i.material-icons edit
            span edit
        div.icon-box
            i.material-icons camera
            span camera
        div.icon-box
            i.material-icons photo_camera
            span photo_camera
        div.icon-box
            i.material-icons portrait
            span portrait
        div.icon-box
            i.material-icons crop
            span crop
        div.icon-box
            i.material-icons image
            span image
        h3 Comunicación
        div.icon-box
            i.material-icons call
            span call
        div.icon-box
            i.material-icons call_end
            span call_end
        div.icon-box
            i.material-icons chat
            span chat
        div.icon-box
            i.material-icons contacts
            span contacts
        div.icon-box
            i.material-icons message
            span message
        div.icon-box
            i.material-icons email
            span email
        div.icon-box
            i.material-icons location_on
            span location_on
        h3 Contenido
        div.icon-box
            i.material-icons add
            span add
        div.icon-box
            i.material-icons archive
            span archive
        div.icon-box
            i.material-icons content_copy
            span content_copy
        div.icon-box
            i.material-icons content_paste
            span content_paste
        div.icon-box
            i.material-icons filter_list
            span filter_list
        div.icon-box
            i.material-icons sort
            span sort
        div.icon-box
            i.material-icons save
            span save
        h3 Dispositivo
        div.icon-box
            i.material-icons battery_full
            span battery_full
        div.icon-box
            i.material-icons bluetooth
            span bluetooth
        div.icon-box
            i.material-icons network_wifi
            span network_wifi
        div.icon-box
            i.material-icons network_cell
            span network_cell
        div.icon-box
            i.material-icons sd_storage
            span sd_storage
        div.icon-box
            i.material-icons usb
            span usb
        div.icon-box
            i.material-icons screen_rotation
            span screen_rotation
        h3 Editor
        div.icon-box
            i.material-icons attach_file
            span attach_file
        div.icon-box
            i.material-icons border_color
            span border_color
        div.icon-box
            i.material-icons format_bold
            span format_bold
        div.icon-box
            i.material-icons format_italic
            span format_italic
        div.icon-box
            i.material-icons insert_link
            span insert_link
        div.icon-box
            i.material-icons insert_chart
            span insert_chart
        div.icon-box
            i.material-icons format_size
            span format_size
        h3 Ficheros
        div.icon-box
            i.material-icons attachment
            span attachment
        div.icon-box
            i.material-icons cloud
            span cloud
        div.icon-box
            i.material-icons cloud_upload
            span cloud_upload
        div.icon-box
            i.material-icons folder
            span folder
        div.icon-box
            i.material-icons folder_shared
            span folder_shared
        div.icon-box
            i.material-icons file_download
            span file_download
        div.icon-box
            i.material-icons file_upload
            span file_upload
        h3 Hardware
        div.icon-box
            i.material-icons laptop
            span laptop
        div.icon-box
            i.material-icons desktop_mac
            span desktop_mac
        div.icon-box
            i.material-icons tablet
            span tablet
        div.icon-box
            i.material-icons headset
            span headset
        div.icon-box
            i.material-icons mouse
            span mouse
        div.icon-box
            i.material-icons tv
            span tv
        div.icon-box
            i.material-icons watch
            span watch
        h3 Mapas
        div.icon-box
            i.material-icons add_location
            span add_location
        div.icon-box
            i.material-icons directions
            span directions
        div.icon-box
            i.material-icons map
            span map
        div.icon-box
            i.material-icons navigation
            span navigation
        div.icon-box
            i.material-icons my_location
            span my_location
        div.icon-box
            i.material-icons local_offer
            span local_offer
        div.icon-box
            i.material-icons directions_car
            span directions_car
