nav
    button.hamburger-button
        i.material-icons menu
div.sidebar-alpha-layer.alpha-layer
div#menusidebar.sidebar.collapsed
    nav.navigation
        ul.side-nav
            li
                a.active(href="/index.html") Inicio
            li
                a(href="/#estilos") Estilos
                ul.active
                    li
                        a(href="/#colores") Colores
                    li
                        a(href="/#tipografias") Tipografias
                    li
                        a(href="/#icons") Iconos

            li
                a(href="/#componentes") Componentes
                ul.active
                    li
                        a(href="/#botones") Botones
                    li
                        a(href="/#forms") Formularios
                    li
                        a(href="/#tablas") Tablas
                    li
                        a(href="/#listas") Listas
                    li
                        a(href="/#menus") Menus
