div.sidebar
    nav.navigation
        ul.side-nav
            li
                a.active(href="/index.html") Inicio
            li
                a(href="/styles.html") Estilos
                ul.active
                    li
                        a(href="/styles.html#colores") Colores
                    li
                        a(href="/styles.html#typography") Tipografias
                    li
                        a(href="/styles.html#icons") Iconos

            li
                a(href="/components.html") Componentes
                ul.active
                    li
                        a(href="/components.html#buttons") Botones
                    li
                        a(href="/components.html#forms") Formularios
                    li
                        a(href="/components.html#forms") Tablas
                    li
                        a(href="/components.html#forms") Listas
                    li
                        a(href="/components.html#forms") Menus
