doctype html
html
  head
    meta(name='viewport',content='initial-scale=1,width=device-width')
    title Style Guide Less
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic|Material+Icons',rel='stylesheet',type='text/css')
    link(rel='stylesheet', type='text/css', href='static/styles/styleguide.css')
    link(rel='stylesheet', type='text/css', href='static/styles/extra.css')
  body
    block content
    script(src='static/js/jquery.min.js',type='text/javascript')
    script(src='static/js/styleguide.js',type='text/javascript')

